 body{
   
    text-decoration: none !important;
}
.loginedit{
    margin: 0px 100%;
    
}
.loginedit .btn{
    width: 100%;
}
.login{
    margin: 100px auto;
}
.form-control, .form-group{
    position: relative;
}
.showpass{
    position: absolute;
    right: -10px;
    top: 10px;
}
.asterisk{
    position: absolute;
    right: 20px;
    top: 5px;
    color: red;
    font-size: 30px;
}
.main-table tr:first-child{
    background-color: black;
    color: #fff;
    vertical-align: middle !important;
    font-size: 15px;
    font-weight: bold;
}
.main-table tr{
    background-color: rgb(245, 242, 242);
    box-shadow: 0px 3px 10px #b4b4b4;
}
.main-table .btn{
    font-size: 15px;
    color: white;
}
.main-table{
    box-shadow: 0 3px 10px #969292;
    background-color: rgb(230, 224, 224);
}


/*
dashboard
*/
.dash .stat {
   
    border: 1px solid #ccc;
    padding: 50px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    height: 170px;
}
.dash .dash-stat a {
    color: white;
    text-decoration: none;
}
.dash .st-member{
    background-color: #686de0;
}
.dash .st-pending{
    background-color: #f0932b;
}
.dash .st-items{
    background-color: #be2edd;
}
.dash .st-comment{
    background-color: #eb4d4b;
}
.dash .dash-stat span{
    display: block;
    font-size: 50px;
}
/*panel*/
.latest-reg{
    height: 30px;
    border: #c9c3c3 solid;
}
.panel1{
    background-color: #ecdfdf;
    margin-top: 8px;
    display: grid;
}
.form-no{
    float: right;
    position: absolute;
    right: 22px;
}
.pls{
    float: right;
    position: absolute;
    right: 22px;
    top: 15px;
    color: #464141;
    
}
.pls:hover{
    font-weight: bold;
    cursor: pointer;
    color: #a09e9e;
}
.input-no{
    width: 100%;
}
.panel2{
    background-color: #ffffff;

}
.list{
    margin-top: 8px;
    display: grid;
   
}
.div-but{
    float: right;
}
.list:nth-child(even){

    background: rgb(245, 237, 237);
}


.stat{
    position: relative;
    overflow: hidden;
}

.stat .totals{
    position: absolute;
    top:30px;
    right: 20px;
    float: left;
}
.stat .icons{
    position: absolute;
    top:40px;
    left: 20px;
    float: right;
}

/*navbar*/
.nav-ul{
    position: absolute;
    right: 120px;
}
.nav-a{
    color: #c7b7b7;
    text-decoration: none;
}
.nav-a:hover{
    color: #fff;
    text-decoration: none;
}
.icon{
    color: limegreen;
    box-shadow: 0px 1px 3px #b4b4b4;
}