.loginedit{
    margin: 0px 200px;
}
.loginedit .btn{
    margin: 0px 200px;
    width: 100%;
}
/* .login{
    margin: 100px auto;
} */
.form-control, .form-group{
    position: relative;
}
.showpass{
    position: absolute;
    right: -10px;
    top: 10px;
}
.asterisk{
    position: absolute;
    right: 20px;
    top: 5px;
    color: red;
    font-size: 30px;
}

